<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>

</head>
<body>
    <div class="Container">
        <div class="SignUp">
            <div class="SignupLayer">
                <div class="Frame80">
                    <div class="Frame40">
                        <div class="Vector11"></div>
                        <div class="Vector10"></div>
                        <div class="Vector9"></div>
                    </div>
                    <div class="SignUpText">Sign Up</div>
                </div>
                <div class="Login" style="width: 498px; height: 894px; position: relative; background: #39394B">
                    <div class="Frame81" style="width: 94px; height: 135px; left: 202px; top: 107px; position: absolute">
                      <div class="LogIn" style="left: 9px; top: 86px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: DM Sans; font-weight: 700; word-wrap: break-word">Log in</div>
                      <div class="Frame41" style="width: 90.46px; height: 56px; left: 0px; top: 0px; position: absolute">
                        <div class="Vector11" style="width: 25.26px; height: 31.68px; left: 31.87px; top: 0px; position: absolute; background: #605CFF; border: 0.12px #605CFF solid"></div>
                        <div class="Vector9" style="width: 90.46px; height: 50.83px; left: 0px; top: 7.10px; position: absolute; background: #605CFF; border: 0.12px #605CFF solid"></div>
                        <div class="Vector10" style="width: 54.93px; height: 39.94px; left: 17.25px; top: 3px; position: absolute; background: #605CFF; border: 0.12px #605CFF solid"></div>
                      </div>
                    </div>
                    <div class="TextfieldFieldsDark" style="width: 360px; height: 91px; left: 66px; top: 291px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                      <div class="Atom" style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div class="Text" style="flex: 1 1 0; height: 21px; justify-content: flex-start; align-items: flex-start; display: flex">
                          <div class="AtomDescription" style="color: white; font-size: 16px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Username</div>
                        </div>
                      </div>
                      <div class="Text" style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 16px; padding-bottom: 16px; background: #222131; border-radius: 10px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
                        <div class="Atom" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                          <div class="AtomText1" style="flex: 1 1 0; color: white; font-size: 16px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Username</div>
                        </div>
                      </div>
                    </div>
                    <div class="TextfieldFieldsDark" style="width: 360px; height: 91px; left: 67px; top: 436px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                      <div class="Atom" style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div class="Text" style="flex: 1 1 0; height: 21px; justify-content: flex-start; align-items: flex-start; display: flex">
                          <div class="AtomDescription" style="color: white; font-size: 16px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Password</div>
                        </div>
                      </div>
                      <div class="Fields" style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 16px; padding-bottom: 16px; background: #222131; border-radius: 10px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                        <div class="Text" style="flex: 1 1 0; border-radius: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                          <div class="Atom" style="justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                            <div class="AtomText1" style="color: white; font-size: 16px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Password</div>
                          </div>
                        </div>
                        <div class="IcVisibilityOff" style="width: 24px; height: 24px; position: relative"></div>
                      </div>
                    </div>
                    <div class="ResetPassword" style="width: 112.56px; height: 20.36px; left: 312.81px; top: 582.57px; position: absolute; color: #605CFF; font-size: 14px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Reset Password?</div>
                    <div class="Remember" style="width: 123.92px; left: 68.07px; top: 580.31px; position: absolute">
                      <div class="Check" style="width: 15.49px; height: 16.97px; left: 0px; top: 2.26px; position: absolute; opacity: 0.50; border-radius: 2px; border: 1px white solid"></div>
                      <div class="RememberMe" style="width: 98.11px; height: 20.36px; left: 25.82px; top: 0px; position: absolute; color: white; font-size: 14px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Remember me</div>
                    </div>
                    <div class="DonTHaveAccountYetRegisterNewAccount" style="width: 369.71px; height: 23.75px; left: 75.29px; top: 778.25px; position: absolute"><span style="color: white; font-size: 16px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Don’t have account yet? </span><span style="color: white; font-size: 16px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">  </span><span style="color: #605CFF; font-size: 16px; font-family: DM Sans; font-weight: 500; word-wrap: break-word"> Register New Account</span></div>
                    <div class="ButtonDark" style="width: 360px; height: 48px; padding-left: 50px; padding-right: 40px; padding-top: 12px; padding-bottom: 12px; left: 75px; top: 661px; position: absolute; background: #605CFF; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div class="Button" style="text-align: center; color: white; font-size: 14px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Log in</div>
                    </div>
                    <div class="Line" style="width: 348px; height: 0px; left: 70px; top: 258px; position: absolute">
                      <div class="Line2" style="width: 151px; height: 0px; left: 0px; top: 0px; position: absolute; opacity: 0.10; border: 1px white solid"></div>
                      <div class="Line1" style="width: 151px; height: 0px; left: 197px; top: 0px; position: absolute; opacity: 0.10; border: 1px white solid"></div>
                    </div>
                  </div>